<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script type="text/javascript" src="/javascripts/socket.js"></script>
    <script>
      const gameSocket = io('/game?token=abc');
    </script>
  </body>
</html>
